:root {
    --main-color: #fe3f40;
    --main-color-alt: #03a4ed;
    --main-padding: 100px;
    --gap--between: 40;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;

}



/* Global Rules*/


body {
    font-family: 'Poppins', sans-serif;
}


.container {
    padding: 0 15px;
    margin: 0 auto;
}

ul {
    list-style: none;
}


a {
    text-decoration: none;
}

/* Media */



@media (min-width:768px) {
    .container {
        width: 740px;

    }
}



@media (min-width:992px) {
    .container {
        width: 970px;

    }
}


@media (min-width:1200px) {
    .container {
        width: 1170px;

    }
}


@media (min-width: 1400px) {
    .container {
        width: 1320px;

    }
}



/* Media */


/* Global Rules*/

/*Go To Top*/

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    display: none;
}

.scroll-to-top.active {
    display: block;
}

/*Go To Top*/



/*Scroll bar*/

.scroll {
    position: fixed;
    background-color: var(--main-color);
    height: 5px;
    width: 0%;
    top: 0;
    left: 0;
    z-index: 66656;
    transition: 0.2s;
}

/*Scroll bar*/

/*Setting*/

.setting {
    position: fixed;
    width: 300px;
    height: 400px;
    background-color: #ffffff;
    top: 50%;
    left: -300px;
    transform: translateY(-50%);
    z-index: 99999;
    transition: 0.5s;
    text-align: center;
    padding: 20px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.11);


}

.setting .title {
    margin-bottom: 50px;
}

.setting.active {
    left: 0px;


}

.setting i {
    position: absolute;
    right: -55px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #000000cc;
    padding: 15px;
    font-size: 25px;
    cursor: pointer;
    z-index: 9999;
    color: #d39728;



}

.color-container {
    background-color: #c1c1c12e;
    border-radius: 8px;

}

.color-container>div {
    font-size: 30px;
    font-weight: bold;

}

.color-container ul {
    display: flex;
    justify-content: center;
    gap: 4px;
    padding: 20px 0;
    align-items: center;

}

.color-container ul li {
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;

}

.color-container ul li.active {
    border: rgb(173, 166, 166) 3px solid;


}


.color-container ul li:first-of-type {
    background-color: #fe3f40;

}

.color-container ul li:nth-of-type(2) {
    background-color: var(--main-color-alt);
}

.color-container ul li:nth-of-type(3) {
    background-color: #d39728;

}

.color-container ul li:nth-of-type(4) {
    background-color: rgb(19, 20, 19);

}

.color-container ul li:nth-of-type(5) {
    background-color: rgb(231, 69, 191);
}



/*Setting*/



/*Start*/


.header {
    background-color: white;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.137);
    position: fixed;
    width: 100%;
    z-index: 9999;
    transition: 0.5s;


}


.header.active {
    background-color: #edededcc;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 14%);


}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;

}




.header .container nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}


.header .container ul {
    display: flex;

}

.header .container ul li {
    display: flex;

}

.header .container ul li a {
    display: block;
    padding: 8px;
    cursor: pointer;
    transition: 0.5s;
    color: black;

}

@media(max-width:991px) {
    .header .container ul {
        position: absolute;
        background-color: rgba(68, 66, 66, 0.719);
        top: 100%;
        left: 0;
        width: 100%;
        flex-direction: column;
        align-items: center;
        max-height: 0vh;
        min-height: 0vh;
        justify-content: center;
        gap: 20px;
        overflow: hidden;
        transition: min-height 0.5s ease-in-out;
        color: white;


    }

    .header .container ul.active {
        min-height: 100vh;

    }

    .header .container ul li a {
        color: white;
    }

}


.header .container ul li a:hover {
    letter-spacing: 2px;


}

.header .container .mode {
    cursor: pointer;
}

.header .container .mode img {
    width: 30px;
    height: 30px;
}


.header .container .toggle {
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    width: 30px;
    display: none;
    position: relative;
    z-index: 55;
    cursor: pointer;

}

@media(max-width:991px) {
    .header .container .toggle {
        display: flex;
    }
}




.container .toggle>div {
    background-color: #fe3f40;
    width: 100%;
    height: 3px;
    cursor: pointer;

}




/*End*/


/*Start*/


.home-intro {
    overflow: hidden;


}


.home-intro .container {
    display: flex;
    align-items: center;
    padding-top: 220px;
    padding-bottom: 100px;
    gap: 20px;

}

@media(max-width:991px) {
    .home-intro .container {
        text-align: center;
        flex-direction: column;
        gap: 50px;


    }

}



.home-intro .container .image {
    position: relative;
    right: -888px;
    opacity: 0;
    flex: 1;


}

.home-intro .container .image.animation {

    animation-name: ladding-right;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    /* how many times the animation will play */
    animation-fill-mode: forwards;




}


.home-intro .container .image img {
    max-width: 100%;

}


.home-intro .container .text {
    position: relative;
    left: -961px;
    opacity: 0;
    flex: 1;


}

@media(max-width:991px) {
    .home-intro .container .text {
        display: flex;
        flex-direction: column;
        align-items: center;

    }
}





.home-intro .container .text.animation {

    animation-name: ladding-left;
    animation-duration: 1s;
    animation-delay: 0.5s;

    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    /* how many times the animation will play */
    animation-fill-mode: forwards;





}


.home-intro .container .text h4 {
    margin-bottom: 20px;
    color: var(--main-color);
    font-weight: 800;
}

.home-intro .container .text h2 {
    font-size: 50px;
    margin-bottom: 10px;
    line-height: 1.5;
    color: rgb(17, 22, 17);
}

@media(max-width:768px) {

    .home-intro .container .text h2 {
        font-size: 26px;
        max-width: 515px;
    }

}

.home-intro .container .text h2>span:first-of-type {
    color: var(--main-color-alt);

}

.home-intro .container .text h2>span:nth-of-type(2) {
    color: var(--main-color);

}

.home-intro .container .text p {
    line-height: 1.7;
    font-size: 17px;
    max-width: 500px;

}

.home-intro .container .text .Button {
    margin-top: 30px;
    padding: 15px;
    width: fit-content;
    color: white;
    border-radius: 5px;
    background: linear-gradient(-90deg, #90d0ee 0%, #f0d7d7 100%);
    cursor: pointer;
}

@media(max-width:991px) {
    .home-intro .container .text .Button {
        margin-left: auto;
        margin-right: auto;

    }
}




/*End*/


/*Start*/

.about {
    padding: 120px 0;
    margin-top: 100px;
    background-image: url("../image/about-bg.png");
    background-size: cover;
}



@media(max-width:991px) {

    .about {
        padding: 120px 0;
        margin-top: 100px;
        background-image: unset;

        background-color: white;
        background-size: cover;
    }




}

.about .container {
    display: flex;
    align-items: center;
    gap: 40px;
}

@media(max-width:991px) {

    .about .container {
        flex-direction: column;

    }




}


.about .container .row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.about .container .row .box {
    display: flex;
    gap: 20px;
    color: white;
    position: relative;
    opacity: 0;
    transition: 1s;

}


.about .container .row .box.active {
    animation-fill-mode: forwards;
    animation-name: fade-in;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    /* how many times the animation will play */


}

.about .container .row .box:first-of-type.active {

}

.about .container .row .box:nth-of-type(2).active {

    animation-delay: 0.3s
}

.about .container .row .box:nth-of-type(3).active {

    animation-delay: 0.5s
}

.about .container .row .box:nth-of-type(4).active {


    animation-delay: 0.7s
}


.about .container .img img {
    width: 391px;
}

@media(max-width:991px) {

    .about .container .img img {
        max-width: 100%;
    }




}





.about .container .row .box img {
    max-width: 80px;

}

.about .container .row .box .info h3 {
    margin-bottom: 15px;

}

.about .container .row .box .info p {
    line-height: 1.7;

}


@media(max-width:991px) {

    .about .container .row .box {
        align-items: flex-start;
        background: linear-gradient(105deg, rgba(255, 77, 30, 1) 0%, rgba(255, 44, 109, 1) 100%);
        flex-direction: column;
        text-align: center;
        padding: 34px;
        align-items: center;
        border-radius: 15px;
    }

    .about .container .row {

        gap: calc(20px * 2);
        justify-content: center;

    }

    .about .container .row .box .info p {
        line-height: 1.7;
        max-width: 400px;

    }


}


@media(min-width:992px) {

    .about .container .row .box {
        width: calc((100% / 2) - 20px);
        align-items: flex-start;
    }

    .about .container .row {

        gap: calc(20px * 2);

    }


}



/*End*/


/*Start Services*/


.services {
    padding: 100px 0;
}


.services .container {
    display: flex;
    gap: 40px;
}

.services .container {
    display: flex;
    gap: 40px;
}


.services .container {
    display: flex;
    gap: 40px;
}

.services .container .img img {}


@media(max-width:1199px) {
    .services .container {
        display: flex;
        gap: 40px;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .services .container .img img {
        max-width: 100%;
    }

}





.services .container .info .text h3>span {
    color: var(--main-color);

}

.services .container .info .text h3 {
    font-size: 40px;

}

@media(max-width:767px) {
    .services .container .info .text h3 {
        font-size: 30px;

    }

}

.services .container .info p {
    margin: 30px 0;
    line-height: 1.7;

}

.services .container .info .box-progrss {
    margin-top: 10px;

}

.services .container .info .box-progrss .box {
    margin-top: 20px;

}

.services .container .info .box-progrss .box h3 {
    margin-bottom: 20px;
    margin-top: 20px;

}


.services .container .info .box-progrss .filled-bar {
    background-color: #eee;
    height: 5px;
    border-radius: 10px;
    position: relative;

}

.services .container .info .box-progrss .filled-bar>div {
    position: absolute;
    width: 0px;
    background-color: var(--main-color);
    height: 100%;
    border-radius: 10px;
    top: 0;
    left: 0;
    transition: width 2s ease-in-out 1s;


}

.services .container .info .box-progrss .filled-bar>div::before {
    content: attr(data-progress);
    background-color: #03a4ed;
    position: absolute;
    padding: 5px;
    z-index: 55;
    top: -38px;
    right: -15px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;


}

.services .container .info .box-progrss .filled-bar>div::after {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: #03a4ed transparent transparent transparent;
    z-index: 555;
    position: absolute;
    top: -14px;
    right: -9px;




}

.services .container .info .box-progrss .filled-bar>div.active {
    width: 0px;


}


.services .container>div {
    transform: scale(0);
}

@media(max-width:1199px) {
    .services .container>div {
        max-width: 700px;
    }



}


.services .container>div.active {
    animation: scale-in;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    /* how many times the animation will play */
    animation-fill-mode: forwards;
}

.services .container>div.active:first-of-type {
    animation-delay: 0.3s;


}


.services .container>div.active:nth-of-type(2) {
    animation-delay: 0.6s;

}







/*End Services*/


/*Start Services*/

.offers {
    padding: 100px 0;
}

.offers>h2 {
    text-align: center;
    margin-bottom: 120px;
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: 746px;
}

.offers>h2>span {
    color: var(--main-color);


}

.offers .container {
    display: flex;
    flex-wrap: wrap;


}


.offers .container .box {
    position: relative;
    border-radius: 10px;
    top: 0px;
    opacity: 0;


}





@media(max-width:767px) {
    .offers .container {
        gap: calc((20px*1) / 1);
        align-items: center;
        justify-content: center;

    }

    .offers .container .box {
        width: 100%;
        max-width: 550px;


    }

}

@media(min-width:768px) {
    .offers .container {
        gap: calc((20px*2) / 1);

    }

    .offers .container .box {
        width: calc((100% / 2) - 20px);


    }

}




@media(min-width:992px) {
    .offers .container {
        gap: calc((20px*4) / 3);

    }

    .offers .container .box {
        width: calc((100% / 4) - 20px);


    }

}

.offers .container .box:first-of-type {}

.offers .container .box:nth-of-type(2) {
    animation-delay: 0.2s;



}


.offers .container .box:nth-of-type(3) {
    animation-delay: 0.4s;



}

.offers .container .box:nth-of-type(4) {
    animation-delay: 0.6s;



}

.offers .container .box.active {

    animation-name: down-top;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    /* how many times the animation will play */
    animation-fill-mode: forwards;



}


.offers .container .box .hidden {
    position: absolute;
    z-index: -6;
    text-align: center;
    padding: 30px;
    background: linear-gradient(105deg, rgba(255, 77, 30, 1) 0%, rgba(255, 44, 109, 1) 100%);
    color: white;
    border-radius: 12px;
    width: 100%;
    top: 0;
    opacity: 0;
    transition: 0.355s ease-in;

}

.offers .container .box .hidden::before {
    content: "";
    position: absolute;
    border-width: 15px;
    border-style: solid;

    border-left-color: #d3972800;
    border-right-color: #00800000;
    border-top-color: rgb(255, 77, 30);
    ;
    border-bottom-color: rgb(56 206 173 / 0%);



    top: 99%;
    left: 50%;
    transform: translateX(-50%);

}

.offers .container .box .hidden h4 {
    font-size: 20px;
    margin-bottom: 15px;
}

.offers .container .box .showen {
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.137);
    padding: 40px;
    border-radius: 10px;
    z-index: 5;
    background-color: white;
    transition: 0.3555s ease-in;
    position: relative;
    top: 0;

}

.offers .container .box .showen img {
    width: 100px;


}

.offers .container .box:hover .hidden {
    top: -90px;
    z-index: 999;
    opacity: 1;



}

.offers .container .box:hover .showen {
    top: 90px;
    z-index: 9999;



}

/*End Services*/


/*Start Gallary*/


.gallary {
    padding-top: 100px;
}

.gallary>h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 150px;

}

.filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    gap: 10px;
}

@media(max-width:500px) {
    .filter {
        text-align: center;
        flex-direction: column;

    }
}

.filter>li {
    padding: 10px;
    cursor: pointer;
    background-color: var(--main-color);
    color: white;
    transition: 0.3s;
}

.filter>li.active {
    background-color: var(--main-color-alt);
}

.filter>li:hover {
    letter-spacing: 2px;
    background-color: #fd0e0e;
}

.gallary>h2>span {
    color: var(--main-color);


}

.gallary .row {
    columns: 3 340px;
}

.gallary .row.active {

    animation-name: RotateAndFade;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    /* how many times the animation will play */
    animation-fill-mode: forwards;

}

.gallary .row img {
    width: 100%;
    display: block;
}

.gallary .row .box {
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
    width: 100%;
    height: 100%;
}



.gallary .row .box:last-of-type {
    display: none;

}

@media(max-width:1199px) {
    .gallary .row .box:last-of-type {
        display: block;

    }

    .gallary {
        padding-bottom: 100px;
    }

}

.gallary .row .description {
    position: absolute;
    text-align: center;
    width: 100%;
    transition: 0.3s;
    bottom: -100px;
}

.gallary .row .box:hover .description {
    background-color: #eee;
    bottom: 0;

}

.gallary .row .box.active {
    animation: fadein 0.6s linear;
}


.gallary .row .box:not(:last-of-type).hide {
    display: none;
}

.gallary .row .box:not(:last-of-type).show {
    display: block;
}



/*End Gallary*/



/*Start Efficiency*/
.efficiency {
    padding: 100px 0;
}

.efficiency .container {
    display: flex;
    align-items: center;
    gap: 40px;
}

.efficiency .container>div {
    width: 50%;
}

@media(max-width:991px) {
    .efficiency .container {
        flex-wrap: wrap;

    }

    .efficiency .container>div {
        width: 100%;
    }
}

.efficiency .container .image {
    position: relative;
    opacity: 0;

}

.efficiency .container .image img {
    width: 100%;
}


.efficiency .container .info {
    position: relative;

    opacity: 0;

}


.efficiency .container>div:first-of-type.active {
    animation-name: from-left;
    animation-duration: 1s;
    animation-delay: 0.5s;

    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    /* how many times the animation will play */
    animation-fill-mode: forwards;

}

.efficiency .container>div:nth-of-type(2).active {
    animation-name: from-right;
    animation-duration: 1s;
    animation-delay: 0.5s;

    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    /* how many times the animation will play */
    animation-fill-mode: forwards;

}


.efficiency .container .info .head h5 {
    font-size: 17px;

}

.efficiency .container .info .head h2 {
    font-size: 40px;


}

.efficiency .container .info .head h2>span {
    color: var(--main-color);


}

.efficiency .container .info p {
    margin: 40px 0;
    line-height: 1.7;
    color: rgb(158, 157, 157);

}

.efficiency .container .circles {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

@media(max-width:767px) {

    .efficiency .container .circles {
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex-direction: column;
    }



}

.efficiency .container .circles .circle {
    background-color: #90d0ee;
    text-align: center;
    padding: 7px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: conic-gradient(var(--main-color) 10%, white 0%);

}


.efficiency .container .circles .circle .backgroud {
    display: flex;
    background-color: white;
    height: 100%;
    border-radius: 50%;
    align-items: center;
    justify-content: center;

}


.efficiency .container .circles .circle .percentage {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;


}

.efficiency .container .circles .circle .title {
    color: rgba(150, 144, 144, 0.699);



}

/*End Efficiency*/


/* Start Our Blog*/

.our-blog {
    padding: 100px 0;
}

.our-blog .container {
    display: flex;
    gap: 40px;
}

.our-blog h2 {
    font-size: 40px;
    margin-bottom: 60px;
    text-align: center;
}

.our-blog h2>span {
    font-size: 40px;
    color: var(--main-color);
}

.our-blog .container>div {
    width: 50%;
}

@media(max-width:1199px) {
    .our-blog .container {
        flex-direction: column;
        align-items: center;
    }

    .our-blog .container>div {
        width: 100%;
        max-width: 700px;
    }

}

.our-blog .container .person {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.123);
    border-radius: 14px;
    overflow: hidden;
    transition: 1s all;
    opacity: 0;
    transform: scale(0);
}

.our-blog .container .person.active {
    opacity: 1;

    transform: scale(1);
}



.our-blog .container .person .main-img img {
    width: 100%;
}

.our-blog .container .person .info {
    border-radius: 6px;
    overflow: hidden;
    padding: 40px;

}

.our-blog .container .person .info .main-title {
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.our-blog .container .person .info .main-title .gob,
.posts .title-jop {
    padding: 10px;
    background-color: var(--main-color);
    color: white;
    border-radius: 20px;
    text-align: center;
}

.our-blog .container .person .info .main-title .date,
.posts .title-post .date {
    color: #777;

}

.our-blog .container .person .info .text {
    margin-top: 20px;
    margin-bottom: 20px;
}

.our-blog .container .person .info .text p {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #999;
    line-height: 1.6;
}




.our-blog .container .person .info .info-person {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

@media(max-width:767px) {
    .our-blog .container .person .info .info-person {
        flex-direction: column;
        gap: 35px;

    }

    .our-blog .container .person .info {
        text-align: center;
    }

}


.our-blog .container .person .info .info-person .details {
    display: flex;
    align-items: center;
    gap: 10px;
}

.our-blog .container .person .info .info-person .details img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.our-blog .container .person .info .info-person .more {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border: 2px solid var(--main-color);
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
    color: var(--main-color);
    font-weight: 500;
}


.our-blog .posts>div {
    display: flex;
    gap: 20px;
    transform: perspective(2500px) rotateX(-100deg);
    backface-visibility: hidden;
    transition-property: transform;
    transition: 1s;
}

.our-blog .posts>div.active:first-of-type {
    transform: perspective(2500px) rotateX(0);
    transition-delay: 0.3s;

}

.our-blog .posts>div.active:nth-of-type(2) {
    transform: perspective(2500px) rotateX(0);
    transition-delay: 0.5s;

}

.our-blog .posts>div.active:nth-of-type(3) {
    transform: perspective(2500px) rotateX(0);

    transition-delay: 0.7s;

}


@media(max-width:767px) {
    .our-blog .posts>div {
        flex-direction: column;
        text-align: center;
    }

}


.our-blog .posts>div .image {
    flex: 3;
}

.our-blog .posts {
    display: flex;
    flex-direction: column;
    gap: 100px;
}


.our-blog .posts>div .image img {
    width: 100%;
    border-radius: 14px;
}


.our-blog .posts>div .info {
    flex: 4;
}

.our-blog .posts>div .info .title-post {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.our-blog .posts>div .info .text {
    margin-top: 15px;
    margin-bottom: 15px;
}

.our-blog .posts>div .info .text p {
    line-height: 1.7;
    margin-top: 15px;

}




/* End Our Blog*/


/* Start Contact*/


.contact {
    padding: 150px 0;
    background-image: url("../image/contact-bg.png");
    background-size: cover;
}

.contact .container {
    display: flex;
    align-items: center;
    gap: 40px;
}


.contact .container>div {
    width: 50%;
    opacity: 0;
}

@media(max-width:991px) {
    .contact .container {
        flex-direction: column;

    }

    .contact .container>div {
        width: 100%;
        text-align: center;
    }

}

.contact .text {
    color: white;
}

.contact .text h2 {
    font-size: 35px;
}

.contact .text p {
    margin: 50px 0;

}

.contact .text .phone-info {
    display: flex;
    gap: 40px;
    align-items: center;

}

@media(max-width:991px) {

    .contact .text .phone-info {
        flex-direction: column;


    }

}

.contact .text .phone-info h4 {
    font-weight: bold;
    font-size: 22px;
}

.contact .text .phone-info .phone {
    display: flex;
    gap: 10px;
    align-items: center;
}

.contact .text .phone-info .phone i {
    color: var(--main-color);
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 50%;
}

.contact .form {
    position: relative;

}

.contact .form form {
    background-color: white;
    padding: 60px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;

}

.contact .form img {
    position: absolute;
    right: -200px;
}

@media(max-width:1700px) {
    .contact .form img {
        display: none;

    }

}

.contact .form form input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: #d1f3ff;
    padding: 15px 15px;
    display: block;
}

.contact .form form .tex-area {}

.contact .form form textarea {
    width: 100%;
    height: 200px;
    resize: none;
    border: none;
    outline: none;
    background-color: #d1f3ff;
    padding: 15px 15px;
    border-radius: 20px;


}

.contact .container>div.active {
    animation: opacity-animation;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    /* how many times the animation will play */
    animation-fill-mode: forwards;
}

.contact .form form>div {
    display: flex;
    gap: 20px;
}


.contact .form form button {
    background-color: #03a4ed;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    padding: 15px 20px;
    border-radius: 20px;
}




.footer {
    padding: 40px 0;
    text-align: center;
}


.footer h5 {
    margin-top: 15px;

}

.footer h5>span {
    color: var(--main-color);
}



/* End Contact*/












/* Animation*/

@keyframes ladding-left {

    100% {
        left: 0;
        opacity: 1;
    }

}


@keyframes ladding-right {

    100% {
        right: 0;
        opacity: 1;
    }

}



@keyframes fade-in {

    100% {
        opacity: 1;
    }

}


@keyframes scale-in {

    100% {
        transform: scale(1);
    }

}


@keyframes down-top {


    0% {
        transform: translateY(3000px)
    }


    75% {
        transform: translateY(10px)
    }


    90% {
        transform: translateY(-5px)
    }

    100% {
        transform: translateY(0px);
        opacity: 1;

    }

}


@keyframes fadein {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;

    }

}


@keyframes RotateAndFade {
    0% {
        transform: rotate(100deg);
        opacity: 0;
    }

    100% {
        transform: rotate(0deg);
        opacity: 1;

    }

}


@keyframes from-left {
    0% {
        transform:translateX(450px);
        opacity: 0;

    }

    100% {
        transform:translateX(0px);
        opacity: 1;
    }

}



@keyframes from-right {
    0% {
        transform:translateX(-450px);
        opacity: 0;

    }

    100% {
        transform:translateX(0px);
        opacity: 1;
    }

}


@keyframes opacity-animation {

    100% {
        opacity: 1;

    }

}




/* Animation */